<!-- <div>
   <h1>Welcome to angular world</h1>
   <div>EXAMPLE of Transfer Data one Component To another component.</div>
   <app-help [name]="myname" (changeName)="onchangeName()"></app-help>
   	<a routerLink="/login/firstchild">firstchild</a>
   	<a routerLink="/login/secondchild">secondchild</a>
	<router-outlet></router-outlet>
</div> -->
<mat-card>
            <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username">
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password">
            </mat-form-field>
          </p>

          <!-- <p *ngIf="error" class="error">
            {{ error }}
          </p>
 -->
          <div class="button">
            <button type="submit" mat-button>Login</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>