<div>
	<div fxLayout="row" fxLayoutAlign="space-around center">
	<mat-form-field fxFlex="25">
    <input matInput placeholder="Name" value="{{name}}" [(ngModel)]="name">
  	</mat-form-field>
	<mat-form-field fxFlex="25">
    <input matInput placeholder="Email Address" value="{{email}}" [(ngModel)]="email">
  	</mat-form-field>
	<mat-form-field fxFlex="25">
	<span matPrefix>+91 &nbsp;</span>
    <input matInput placeholder="Contact No" type="tel" value="{{ctn}}" [(ngModel)]="ctn">
  	</mat-form-field>
	</div>
	<div  fxLayout="row" fxLayoutAlign="space-around center" >
	<mat-form-field style="width: 92%">
    <input matInput placeholder="Message" value="{{msg}}" [(ngModel)]="msg">
  	</mat-form-field>
	</div>
	<div fxLayout="row" fxLayoutAlign="end center" style="margin-right: 4%;">
	<button mat-raised-button color="primary" (click)="submitFunction(name,email,ctn,msg)">Submit</button>
	</div>
</div>