.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.example-container {
    height: calc(100vh - 64px);
}
.main-height {
    height: calc(100vh - 57px);
}
.Sidenav {
    border-right: 1px solid #dedede;
    padding: 10px;
}
.Maincontent {
    background: #efefef;
    /*padding: 10px 15px;*/
    overflow: auto;
}
.acc {
    font-size: 14px;
    padding-top: 10px;
}
.mat-card {
    margin-bottom: 15px;
}
.card-txt {
    color: grey;
    font-size: 14px;
}
.text-align-rgt {
    text-align: right;
}
.mini-card i {
    color: dodgerblue;
    font-size: 30px;
}
.sideNav-txt {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: grey;
    cursor: pointer;
    text-decoration: none;
}
.ft-clr {
    font-size: 14px;
    font-weight: 500 !important;
    color: #232f3e;
}
.mat-list-base {
    padding-top: 0px !important;
}
table {
    width: 100%;
}
.active {
    background: #FFC107;
}
.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: 56px;
}
.mat-toolbar.mat-primary {
    background: #232f3e !important;
    color: #fff;
}
.toolbar-fullscreen {
    display: none;
}
.toolbar-filler {
    flex: 1 1 auto
}
.dash-label {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 0.03cm;
    padding-left: 17px;
}
.mat-icon-button {
    width: 75px !important;
    height: 75px !important;
    border-radius: 0px;
}
.app-menu .mat-icon{
  font-size: 30px !important
}
.mat-menu-content:not(:empty) {
    /* padding-top: 31px; */
    /* padding-bottom: 22px; */
    padding: 10px 18px 10px 0px !important;
}

.app-menu{
    width: 235px !important;
        padding: 5px;
}