<div>
 <mat-toolbar color="primary">
    <span class="dash-label">{{label}}</span>
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
      <span>User</span>
      <i class="material-icons">
      perm_identity
    </i>
  </mat-toolbar>

  <div fxLayout="row" class="main-height">
    <div fxFlex="15" class="Sidenav" style="padding: 0;">
      <!-- <div routerLink="/dashboard" routerLinkActive="active">Dashboard</div>
      <div routerLink="/activity" routerLinkActive="active">Activity</div> -->
      <mat-list>
        <div *ngFor="let menu of sideNavmenus;let i = index" (click)="selectItem(i,menu)" class="sideNav-txt">
        <mat-list-item routerLink="/{{menu.name}}" [ngClass]="{'active': selectedIdx == i}">
           <button mat-icon-button matTooltip="{{menu.icon}}" matTooltipPosition="right">
          <mat-icon mat-list-icon style="color: #232f3e;">{{menu.icon}}</mat-icon>
  </button>
          <h4 mat-line><span class="ft-clr">{{menu.name}}</span></h4>
        </mat-list-item>
      </div>
      </mat-list>
    </div>
     <div fxFlex="85" class="Maincontent" [ngStyle]="{'padding':selectedIdx === 2 ? '0px' : '15px' }">
<router-outlet></router-outlet>
</div>
  </div>
</div>
