<div>
<div>
   <button mat-raised-button color="primary" (click)="openDialog()">Add Password</button>
<mat-form-field class="example-full-width" style="left: 5px;top: 5px;">
<input matInput class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search Details">
     </mat-form-field>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px">
	<div *ngFor="let t of passData | filter:searchText" fxFlex="30">
	<mat-card style="margin-top: 20px;font-size: 15px;color: grey;" [ngClass]="{'yellow': t.type == 'social','lime': t.type == 'personal','blue': t.type == 'cardetail','grey': t.type == 'bank'}">
		<span class="name">{{t.name}}</span>
		<div><span>Username</span> : <span>{{t.username}}</span></div>
		<div><span>Password</span> : <span>{{t.password}}</span></div>
		<div><span>Comments</span> : <span>{{t.comments}}</span></div>
	</mat-card>
	</div>
</div> 
</div>