.mat-dialog-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: grey;
}
.name {
    font-size: 15px;
    font-weight: 500;
    /*letter-spacing: 0.5px;*/
    color: #000000;
    text-transform: uppercase;
}

.yellow{
	background-color: #FF8F00;
	color: #ffffff !important;
}

.lime{
	background-color: #9E9D24;
	color: #ffffff !important;

}
.blue{
	background-color: #1565C0;
	color: #ffffff !important;

}
.grey{
	background-color: #424242;
	color: #ffffff !important;

}