<div>
<div>
   <button mat-raised-button color="primary" (click)="openDialog()">Add Password</button>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px">
	<div *ngFor="let t of array" fxFlex="20">
	<mat-card style="margin-top: 20px;font-size: 15px;color: grey;" >
		<div>{{t.name}}</div>
		<div><span>Username</span> : <span>{{t.username}}</span></div>
		<div><span>Password</span> : <span>{{t.password}}</span></div>
		<div><span>Comments</span> : <span>{{t.comments}}</span></div>
	</mat-card>
	</div>
</div> 
</div>